* {
    margin: 0;
    padding: 0;
    border: 0;
    
    /*The box-sizing property is used to tell the browser what the sizing properties (width and height) should include border-box.*/
    box-sizing: border-box;
}

html
{
    width: 100%;
}

body
{
    text-align: center;
    min-height: 100%;
    min-width: 100%;
    margin:0;
    background-color:#e5c892;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

.merriweather
{
    font-family: 'Merriweather', serif;
}

.sansserif
{
    font-family: sans-serif;
}

#initials
{

    display:inline-block;
    text-align:left;
    position:fixed;
    left:2%;
    top:2%;
    font-family: 'Dancing Script', cursive;
    color: #fee662;
    height:auto;
    border-radius:50%;
    width:auto;
    font-size:25pt;
    margin:0;
    margin-right:5px;
    background-color:#6f2b22;
    border-radius: 30px;
    padding: 5px;
}
#initials:hover
{
    cursor: default;
}

nav
{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:5%;
    background-color:#6f2b22;
    z-index: 3;
}

#icon
{
    display:none;
    width: 30px;
    position: fixed;
    right: 5px;
}

#icon div
{
    width: 30px;
    height: 5px;
    background-color: #fee662;
    margin: 5px 0;
}

#navLinks
{
    position:fixed;
    right: 2%;
    display:inline-block;
    text-align: right;
    list-style-type: none;
    margin-right:0;
    padding:0;
    margin-top: 5px;
}

#navLinks li
{
    display:inline;
    font-size:15pt;
    padding-left:5px;
    padding-right:5px;
}

a
{
    color:black;
    text-decoration: none;
    background-color:#e5c892;
    border-radius: 10px;
}

#navLinks li:hover
{
    animation: bounce 0.5s;
}

@keyframes bounce
{
    0%
    {
        font-size:15pt;
    }

    50%
    {
        font-size:17pt;

    }

    100%
    {
        font-size:15pt;
    }
}

/*********************************************************/

#banner
{
    width:100%;
    height:200px;
    line-height: 200px;
    background-image:url("images/honeycomb-banner.jpg");
    background-position: center;
    text-align: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius:10px;
}

#slogan
{
    margin-left:auto;
    margin-right:auto;
    vertical-align: baseline;
}

#slogan:hover
{
    cursor:default;
}

.sloganLetter
{

    font-size:40px;
    font-family: 'Merriweather', serif;
    animation: bounceSlogan 2s infinite;
    display:inline;
    margin-left: 5px;
    margin-right: 5px;
}

#clean
{
    animation-delay: 0s;
}
#and
{
    animation-delay:0.2s;
}
#easy
{
    animation-delay: 0.4s;
}
#code
{
    animation-delay:0.6s;
}

@keyframes bounceSlogan
{
    0%
    {
        font-size:40px;
    }

    50%
    {
        font-size:42px;
    }

    100%
    {
        font-size:40px;
    }
}

/**********************************************************/
#bio
{
    display:inline-block;
    width:50%;
    height:auto;
    text-align:left;
    margin-top:5%;

}
#imageMe
{
    vertical-align: top;
    display:inline-block;
    background-color:lightgray;
    height:auto;
    width: 20%;
    margin-bottom: 5%;
    border-radius:10px;
}

.inline
{
    display:inline-block;
}

/***********************************************************/
#skills
{
    background-color: #F5DAA4;
    background-size: cover;
    margin:auto;
    height:auto;
    border-radius: 10px;
}
#skills-header
{
    margin:auto;
    padding-top:2%;
}

#skills-table
{
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    width:auto;
    justify-content: center;

}

.skillThumb
{
    width:100px;
    height: 100px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.uniqueSkill
{
    vertical-align: bottom;
    margin:2%;
    background-color:#eabc8a;
    border-radius:10px;
}

/**************************************************************/

article
{
    width: 80%;
    height: auto;
    text-align:left;
    border: 1px solid black;
    margin:auto;
    padding:0;
    margin-bottom: 2%;
    border-radius: 10px;
}

li
{
    display:inline-block;
    font-size:15pt;
    padding-left:5px;
    padding-right:5px;
}

.thumbnail
{
    max-width:100%;
    max-height: 100%;
   /* display:inline-block;*/
    vertical-align: top;
    opacity: 1.0;
    border-radius: 10px;
}

.imageHolder
{
    
    width: 30%;
    margin-right:2%;
    padding:0;
    display:inline-block;
    margin:0;
}

.project-contents
{
    display:inline-block;
    
    height:auto;
    width: 60%;
    vertical-align: top;
    margin:0;
}

.projectLink
{

    background-color: #F5DAA4;
    margin: 5px;
    width: 30%;
    border-radius: 10px;
    padding: 5px;
}

.projectLink:hover
{
    background-color:#6f2b22;
    color: #fee662;
}

.thumbnail:hover
{
    opacity: 0.5;
}




/**********************************************************/

footer
{
    background-color:#6f2b22;
    
    padding:2%;
    color: #fee662;
    width: 100%;
    

}

/**********************************************************/
#contact
{
    margin-bottom: 5%;
    background-color: #F5DAA4;
    border-radius: 10px;
}

.link
{
    text-decoration: none;
    background-color: #F5DAA4;
    display: inline-block;
    margin-left: 5%;
    margin-right: 5%;
}

.input
{
    font-size:15pt;
    border-radius: 10px;
    background-color: #e5c892;
    border-color:black;
}
#contact-form
{
    text-align:left;
    width:40%;
    display:flex;
    flex-direction: column;
    margin:auto;
    line-height: 20pt;
}

#submit-button
{
    width:25%;
    height:auto;
    font-size:15pt;
    margin-top: 2%;
}

#submit-button:hover
{
    background-color:#6f2b22;
    color: #e5c892;
}

#findMeAt img
{
    width: 100px;
    height: 100px;
    margin:5%;
    display: inline-block;

}

/**********************************************************/
@media only screen and (max-width:370px)
{
    li
    {
        display:block;
    }

    #navLinks
    {
        display:block;
        left: 60%;
        text-align: left;
        display:none;
    }

    #icon
    {
        display:block;
    }

    article
    {
        overflow: hidden;
    }
}

@media only screen and (max-width:450px)
{

    #contact-form
    {
        width:80%;
    }
    .sloganLetter
    {
        font-size: 20px;
        animation: bounceSlogan 2s infinite;
    }

    #banner
    {
        height: 150px;
    }

    @keyframes bounceSlogan
    {
        0%
        {
            font-size:20px;
        }

        50%
        {
            font-size:22px;
        }

        100%
        {
            font-size:20px;
        }
    }


    #navLinks
    {
        margin-left: 10%;
    }
}

@media only screen and (max-width:780px)
{

    #submit-button
    {
        width: 80px;
        padding: 5px;
    }

    #imageMe
    {
        display:block;
        margin:auto;
        width: 40%;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .projectLink
    {
        width: 110px;
    }

    #bio
    {
        width: 80%;
    }

    .project-contents
    {
        width: 90%;
    }
}

@media only screen and (max-width:915px)
{
    article
    {
        text-align: center;
    }

    .projectLink
    {
        display: inline-block;
    }
}

@media only screen and (max-width:1200px)
{
    .imageHolder
    {
        width: 287px;
    }
}

/*
@media only screen and (max-width:350px)
{
    #navLinks
    {
        padding:0;
        text-align:center;
    }

}

@media only screen and (max-width:420px)
{
    #initials
    {
        position: relative;
        margin-right:5px;
    }
    #navLinks
    {
        position: relative;
    }
    nav
    {
        height:auto;
    }
    .sloganLetter
    {

        font-size:20px;
        font-family: 'Merriweather','serif';
        animation: bounceSlogan 2s infinite;
        display:inline;
    }

    #clean
    {
        animation-delay: 0s;
    }
    #and
    {
        animation-delay:0.2s;
    }
    #easy
    {
        animation-delay: 0.4s;
    }
    #code
    {
        animation-delay:0.6s;
    }



    @keyframes bounceSlogan
    {
        0%
        {
            font-size:20px;
        }

        50%
        {
            font-size:22px;
        }

        100%
        {
            font-size:20px;
        }
    }
}

@media only screen and (max-width:620px)
{
    #submit-button
    {
        width:50%;
    }
    #imageMe
    {
        width: 50%;

    }




}


@media only screen and (max-width:830px)
{
    .project-contents
    {
        width:100%;
    }
    article
    {
        text-align: center;
    }

}

*/